body{
    color: black;
    font-family: 'Poppins', sans-serif;
    background-image: url('Waves.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.header, .footer{
    width: 100%;
    position: fixed;        
    background-image: url('Binary.jpg');
    opacity: .8;
    padding: 10px 0;
    color: #fff;
}
.header{
    top: 0;
}
.footer{
    bottom: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}

a.focus {
    color: red;
}

a:hover{  
    color: red;
}

nav button{
    border: none;
    background: none;
    color: white;
    font-size: 16px;
}

nav button:hover {
    background-color: red;
    padding: 10px;


}

.main{
    color: white;
    text-align: center;
    margin: 150px auto;
}

.main ul{
    list-style-type: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
  }
  
td, th {
    border: 1px solid #333;
    text-align: left;
    padding: 5px;
  }
  
.heading {
    background-color: #333;
    color: white;
}

#span{
    font-size: 24px;
    font-weight: bold;
    color: red;
}


input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#display{
    width: 100%;
    color: white;
    padding: 14px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}