body{
    color: white;
    font-family: 'Poppins', sans-serif;
    background-image: url('Waves.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
form{
    color: black;
    width: 60%;
    bottom: 50%;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 1) 5px 10px 24px;;
}